/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-livewhale-events-block {
	background-color: #21759b;
	padding: 2px;
}
.editor-styles-wrapper p.wp-block-create-block-livewhale-events-block {
	color: #fff;
}